<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>실습 index페이지 만들기</title>

</head>

<body>
  <h1>Welcome to Express Dynamic Web</h1>
  <!-- href 주소값 '/users' => localhost:4000/users -->
  <a href="/users">유저서비스</a>

</body>

</html>